@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
:root {
    --couleur-principale: #f57d00;
}
body {
    background: #FFF;                                 /*couleur fond de la page */
    font-family: 'OpenSans', 'Arial', sans-serif;
    min-height: 100vh;                                  /* hauteur 100% du viewport */
    max-width: 100vh;                                   /* largeur max. 100% de la hauteur du viewport*/
    margin: auto;                                       /* page centrée */
}
.coul_orange {
    color: var(--couleur-principale);
}
.souligne {
    border-bottom:1px solid var(--couleur-principale);
}
article {
    display: flex;                                      /* Flexbox sur les deux sections */
    flex-direction: row-reverse;    
}
.colonne-droite {
    background-color: aqua;
    flex: 1;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.colonne-droite header h1 {
    font-size: 3rem;
}
.colonne-droite header h2 {
    font-size: 1.5rem;
    margin-top: -3.5rem;
}
.colonne-droite header #photo {
    display: none;
}

.colonne-droite section .filet {
    border-top: 1px solid;
    margin-bottom: 1rem;
}
.colonne-droite section h2 {
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}
.colonne-droite section h2 span {
    position: relative;
    left: .5rem;
}
.colonne-droite section img {
    vertical-align: middle;
    width: 4%;
}




.poste {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
}
.dateVille{
    flex: 1;
}
.fonction {
    flex: 3;
}
/*.emploi {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.entreprise {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.description {
    text-align: justify;    
}*/




.colonne-gauche {
    background-color: var(--couleur-principale);
    width: 15rem;

    display: flex;
    flex-direction: column;
}
.colonne-gauche section .bandeau {
    margin: 0;
    background-color: black;
    text-align: center;
}
#photoAside {
    display: flex;
    /*padding: 1rem;*/
    align-items: flex-start;            /* bug probleme hauteur avec safari */

}
#photoAside img {
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 50%;
}
#contact h4 {
    margin: 0.5rem 2rem 0 2rem;
}
#contact p {
    margin: -0.1rem 2rem 0.5rem 2rem;
}
#apropos {
    flex: 1;                            /* prend la hauteur restante */
}
#apropos p {
    margin: 2rem;
    text-align: justify;
}
aside #loisirs {
    margin-top: auto;                   /* pousse Loisirs en bas de la colonne */
}
#logos {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logos img{
    width: 20%;
}
/* --------------------------------------------------------------------------  */




/* Nouvelles règles si la fenêtre fait au plus 800px de large */
@media screen and (max-width: 800px)
{
    body {
        background: #FFF;                                 /*couleur fond de la page */
        font-family: 'OpenSans', 'Arial', sans-serif;
        font-size: 0.8rem;
        min-height: 100vh;                                     /* hauteur 100% du viewport */
        max-width: 100vh;                                  /* largeur max. 100% de la hauteur */
        margin: 0;
    
        margin: auto;                                       /* page centrée */
        display: flex;                                      /* Flexbox sur les colonnes */
        flex-direction: column-reverse;
    } 
    .col_info_generale #loisirs {
        display: none;
    }
    .col_info_generale #blocphoto {
        display: none;
    }
}
/* Nouvelles règles si la fenêtre fait au moins 801px de large */
@media screen and (min-width: 801px)
{
    .col_info_detaillee #blocphoto {
        display: none;
    }
}