@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
body {
    background: #FFF;                                 /*couleur fond de la page */
    font-family: 'OpenSans', 'Arial', sans-serif;

    min-height :100vh;                                     /* hauteur 100% du viewport */
    max-width: 100vh;                                  /* largeur max. 100% de la hauteur */

    margin: auto;                                       /* page centrée */
    
    display: flex;                                      /* Flexbox sur les colonnes */
    /*flex-wrap: wrap;                                    /* colonnes superposées si pas de place en largeur */
}
#col_info_generale{
    background-color: rgb(255, 145, 0);

    font-size: 0.8rem;
    flex: 1;

    display: flex;
    flex-direction: column;
}
#blocphoto {
    display: flex;
    padding: 1rem;
}
#blocphoto img {
    display: block;
    margin: auto;   
}
#contact h4 {
    margin: 0.5rem 2rem 0 2rem;
}
#contact p {
    margin: -0.1rem 2rem 0.5rem 2rem;
}
#apropos {
    flex: 1;                            /* prend la hauteur restante */
}
#apropos p {
    margin: 2rem;
    text-align: justify;
}
#loisirs {
    margin-top: auto;
}
#logos img{
    /*width: 20%;*/
    max-width: 20%;
	height: auto;
}
#logos {
    margin: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-around;
}

#col_info_generale h2{
    color: rgb(255, 145, 0);
    margin: 0px;                           /* texte sans marge au dessus */
}
.bandeau {
    background-color: black;
    text-align: center;
}




#col_info_detaillee {
    background-color: aqua;
    font-size: 0.8rem;
    flex: 3;

    padding: 2rem;
    display: flex;                      /* Flexbox sur les div (photo, contact, a propos et loisirs) */
    flex-direction: column;             /* direction des div : de haut en bas */
    justify-content: flex-start;        /* alignement axe principal (verti.): alignés au début */
}
#nom {
    
}
#nom h1 {
    margin: 0;
    font-size: 2rem;
}
#nom h3 {
    margin: -0.5rem 0 0 0;
    font-size: 1.2rem;  
}
.filet {
    border-top: 1px solid rgb(255, 145, 0);
}



.article {
    display: flex;
    flex-direction: column;
}
.article img {
    display: inline-block;
    width: 4%;
    vertical-align: middle;
}
.article h2 {
    margin-bottom: 0.2rem;
}

.sous-article {
    display: flex;
}
.zonegauche {
    flex: 1;
}
.zonedroite {
    flex: 2;
}





#formation {
    display: flex;
    flex-direction: column;
 
}
#recommandation {
    display: flex;
    flex-direction: column;

}
#col_info_detaillee texte {
    margin: auto;
}


