@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
body {
    background: #FFF;                                 /*couleur fond de la page */
    font-family: 'OpenSans', 'Arial', sans-serif;
    min-height: 100vh;                                  /* hauteur 100% du viewport */
    max-width: 120vh;                                   /* largeur max. 100% de la hauteur du viewport*/
    /*min-width: 80vh;*/
    margin: auto;                                       /* page centrée */
    background-color: rgb(218, 218, 218);
}
.coul_orange {
    color: #5F80ED;
}
.souligne {
    border-bottom:1px solid #5F80ED;
}
article {
    margin: 2rem;
    display: flex;                                      /* Flexbox sur les deux sections */
    flex-direction: row-reverse; 
    border-top: 0.2rem solid #5F80ED;
    border-right: 0.2rem solid #5F80ED;
    border-bottom: 0.2rem solid #5F80ED;
}
.colonne-droite {
    background-color: white;
    flex: 3;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.colonne-droite h1 {
    font-size: 3rem;
}
.colonne-droite h2 {
    font-size: 1.5rem;
    margin-top: -3.5rem;
}
.colonne-droite .filet {
    border-top: 1px solid;
    margin-bottom: 1rem;
}
.colonne-droite h3 {
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
}
.colonne-droite h3 span {
    position: relative;
    margin-left: .5rem;
}
.colonne-droite img {
    vertical-align: middle;
    width: 4%;
}
.colonne-droite .poste {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row-reverse;
}
.colonne-droite .poste .date-ville {
    flex: 1;
}  
.colonne-droite .poste .fonction {
    flex: 3;
}
.colonne-droite h4 {
    margin-top: 0;
    margin-bottom: .3rem;
    font-size: 1.3rem;
}
.colonne-droite h5 {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 1.1rem;
}
.colonne-droite p {
    margin-top: .3rem;
    margin-bottom: 1rem;
    text-align: justify; 
}




.colonne-gauche {
    background-color: #5F80ED;
    flex: 1;

    display: flex;
    flex-direction: column;
}
.colonne-gauche .bandeau {
    margin: 0;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    text-align: center;
}
.colonne-gauche h2 {
    font-size: 1.5rem;
}
.colonne-gauche #photoAside {
    display: flex;
    align-items: flex-start;            /* bug probleme hauteur avec safari */
}
.colonne-gauche #photoAside img {
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 50%;
}
.colonne-gauche #contact h4 {
    margin: 0.5rem 2rem 0 2rem;
}
.colonne-gauche #contact p {
    margin: -0.1rem 2rem 0.5rem 2rem;
}
.colonne-gauche #apropos {
    flex: 1;                            /* prend la hauteur restante */
}
.colonne-gauche #apropos p {
    margin: 2rem;
    text-align: justify;
}
.colonne-gauche aside #loisirs {
    margin-top: auto;                   /* pousse Loisirs en bas de la colonne */
}
.colonne-gauche #logos {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colonne-gauche #logos img{
    width: 20%;
}

@media only screen and (max-width: 896px)  {
    article {
        display: flex;
        flex-direction: column;
    }
    .colonne-droite {
        background-color: white;
        padding: 1rem 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .colonne-gauche {
        background-color: #5F80ED;
        width: 100%;

        display: flex;
        flex-direction: column;
    }
    .colonne-gauche #photoAside img {
        display: block;
        margin: auto;
        width: 20%;
        border-radius: 50%;
    }
    .colonne-gauche #logos img{
        width: 10%;
    }
}
/* petit écran */
@media screen and (max-width: 896px) {
    body {
        background: #FFF;                                 /*couleur fond de la page */
        font-family: 'OpenSans', 'Arial', sans-serif;

        width: 400px;
        margin: auto;                                       /* page centrée */
        background-color: rgb(218, 218, 218);
    }
    article {
        margin: 0;
        display: flex;
        flex-direction: column;
        border: 0.2rem solid #5F80ED;
    }
    .colonne-droite {
        background-color: white;
        padding: 1rem 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .colonne-gauche {
        background-color: #5F80ED;


        display: flex;
        flex-direction: column;
    }
    .colonne-gauche #photoAside img {
        display: block;
        margin: auto;
        width: 20%;
        border-radius: 50%;
    }
    .colonne-gauche #logos img{
        width: 10%;
    }
}
/* iPhone XS Max, 11 Pro Max en portrait */
@media screen and (min-width: 414px) and (max-width: 896px) and (orientation: portrait) {
    body {
        background: #FFF;                                 /*couleur fond de la page */
        font-family: 'OpenSans', 'Arial', sans-serif;
        min-height: 100vh;                                  /* hauteur 100% du viewport */
        min-width: 100vw;
        max-width: 200vw;
        margin: auto;                                       /* page centrée */
        background-color: rgb(218, 218, 218);
    }
    article {
        display: flex;
        flex-direction: column;
        border: 0.2rem solid #5F80ED;
    }
    .colonne-droite {
        background-color: white;
        padding: 1rem 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .colonne-gauche {
        background-color: #5F80ED;


        display: flex;
        flex-direction: column;
    }
    .colonne-gauche #photoAside img {
        display: block;
        margin: auto;
        width: 20%;
        border-radius: 50%;
    }
    .colonne-gauche #logos img{
        width: 10%;
    }
}

/* iPhone XS Max, 11 Pro Max en paysage */
@media screen and (min-width: 414px) and (max-width: 896px) and (orientation: landscape) {
    body {
        background: #FFF;                                 /*couleur fond de la page */
        font-family: 'OpenSans', 'Arial', sans-serif;
        min-height: 100vh;                                  /* hauteur 100% du viewport */
        min-width: 100vw;
        max-width: 120vw;
        margin: auto;                                       /* page centrée */
        background-color: rgb(218, 218, 218);
    }
    article {
        display: flex;
        flex-direction: column;
    }
    .colonne-droite {
        background-color: white;
        padding: 1rem 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .colonne-gauche {
        background-color: #5F80ED;

        display: flex;
        flex-direction: column;
    }
    .colonne-gauche #photoAside img {
        display: block;
        margin: auto;
        width: 20%;
        border-radius: 50%;
    }
    .colonne-gauche #logos img{
        width: 10%;
    }
}